@media (orientation: landscape){
	#Login_Div{
		padding-bottom: 100px;
		position: absolute;
		width: 33%;
		height: 30%;
		top: 35%;
		left: 33%;
	}
}

@media (orientation: portrait){
	#Login_Div{
		padding-bottom: 100px;
		position: absolute;
		width: 80%;
		height: 30%;
		top: 35%;
		left: 10%;
	}
}