body{
	font-family: "Roboto-Thin";
	margin: 0;
	padding: 0:;
	background-color: white;
}

img{
	max-width: 100%;
	height: auto;
}

@font-face{
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

#NavBar{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: #003a4f;
}

#Logo{
    position: relative;
    height: 80%;
    top: 10%;
}

#PageTitle{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 14%;
    color: #003a4f;
    font-size: 1.5em;
}
